-e git+https://github.com/vbuterin/pybitcointools.git@f813d3ddae1331dbaad099fb24204fdd89463c7a#egg=bitcoin-dev
cmd2==0.6.8
## !! Could not determine repository location
granary==0.5
-e git+https://github.com/trezor/python-mnemonic.git@9973afdf4a9d37b7cbac4069723889eeee0e0d2a#egg=mnemonic-master
mock==1.0.1
-e git+https://github.com/dlitz/python-pbkdf2.git@2a0fb1505dedb66b226516dcc8ebdd2978b3dd0d#egg=pbkdf2-master
py==1.4.26
pybitcointools==1.1.15
pycrypto==2.6.1
pyparsing==2.0.3
pytest==2.7.0
-e git+https://github.com/vsajip/python-gnupg.git@5774cce279b704d8668c71b4925368dd7061c7f8#egg=python_gnupg-master
readline==6.2.4.1
